@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  body,html{
    background-image: url("../frontend/images/blackplane.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin:0;
  }
  .title{
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--third-color);
    padding: 14px 16px;
    font-size: 20px;
    font-weight: bold;
  }
  :root {
    --primary-color: #171820;
    --secondary-color: white;
    --third-color: orange;
    --background-light:#2E2F36;
  }
  .logo{
    display: block;
    float:left;
    text-decoration: none;
    text-align: center;
    color: var(--third-color);
    padding: 14px 16px;
    font-size: 17px;
  }
  .logo:hover{
    text-decoration: none;
    color: var(--third-color);
  }
  .header{
    overflow: hidden;
    background-color: var(--background-light);
  }
  .header .button{
    float: right;
  }
  .button{
    display: block;
    color:var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  .active{
    border-bottom: 3px solid var(--third-color);
  }
  .button:hover{
    border-bottom: 3px solid var(--third-color);
    text-decoration: none;
    color: var(--third-color);
  }
  .card-deck {
    margin: 15px;
    justify-content: space-between;
  }
  
  .card-deck .card {
    margin: 0 0 1rem;
    background-color: transparent;
    color: var(--secondary-color);
  }
  .card:hover{
    background-color: var(--background-light);
    color: var(--third-color);
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
      -ms-flex: 0 0 48.7%;
      flex: 0 0 48.7%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .card-deck .card {
      -ms-flex: 0 0 32%;
      flex: 0 0 32%;
    }
  }
  
  @media (min-width: 992px)
  {
    .card-deck .card {
      -ms-flex: 0 0 24%;
      flex: 0 0 24%;
    }
  }
  table thead{
    color: var(--third-color);
  }
  table{
    color: var(--secondary-color);
  }